body{
    background-color:lightgray;
}

#signout{
margin-left: 900px;

}
#signoutdiv{
    margin-left: 800px;
}


.carousel-item{
    background-size: cover;
    color: white;
    height: 32rem;
}

.playbutton{
    position: relative;
    left: 45%;
    top: 83%;
    outline: black;
    outline-width: 5px;
}
#bestgametitle{
    text-align: center;
    position: relative;
    bottom:5px;
    color: yellow;
}
#upload{
    display:none;
}
.category{
    height: 400px;
    
}
.best{
    background-color: red;
    height : 200px;
}
.category-element{
    text-align: center;
    border:1px black solid;
    background-color: lightsteelblue;
    font-size: 30px;
    text-decoration: none;
    border-top: 0px;
}
.category-link{
    text-decoration: none;
    color: black;
}
.category-link:hover{
    color: red;
}
.game{
    padding-top: 5px;
    padding-bottom: 5px;
}
.game-text{
    text-align: center;
    text-decoration: none;
    color: black;
}
.game-text:hover{
    color:black;
}
#upload-game{
    display:none;
}
#searchbar{
    width: 100%;
    outline: none;
    padding-left: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-color: grey;
}